.Header {
  text-align: center;
  padding-bottom: 8rem;
  border-bottom: 0.1rem solid var(--color-text-white);
}

.HeaderIntro {
  font-weight: 700;
  font-size: 4rem;
  line-height: 4rem;
  letter-spacing: -0.1136rem;
  margin-bottom: 2.4rem;
}

.HeaderTextGroup {
  margin-top: 33.1rem;
}

.HeaderText {
  font-size: 1.6rem;
  line-height: 2.6rem;
  color: var(--color-text-mid);
  margin-bottom: 2.4rem;
}

.HeaderTextBreak {
  display: none;
}

.HeaderIntroSpan {
  position: relative;
  white-space: nowrap;
}

.HeaderIntroSpan::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 0.4rem;
  background-color: var(--color-accent);
  width: 100%;
}

/* Media Queries */
@media (min-width: 768px) {
  .Header {
    text-align: left;
    padding-bottom: 6rem;
  }

  .HeaderTextGroup {
    margin-top: 9rem;
    max-width: 44.5rem;
  }

  .HeaderIntro {
    font-size: 7.2rem;
    line-height: 8.2rem;
    letter-spacing: -0.204rem;
    margin-bottom: 6rem;
  }

  .HeaderTextBreak {
    display: block;
  }

  .HeaderIntroSpan::after {
    height: 0.6rem;
    bottom: 0.05rem;
    z-index: -1;
  }

  .HeaderText {
    font-size: 1.8rem;
    line-height: 2.8rem;
    margin-bottom: 3.4rem;
  }
}

@media (min-width: 1024px) {
  .Header {
    padding-bottom: 21.9rem;
  }

  .HeaderTextGroup {
    max-width: 70.6rem;
  }

  .HeaderIntro {
    font-size: 8.8rem;
    line-height: 8.8rem;
    letter-spacing: -0.25rem;
    margin-bottom: 4.3rem;
  }

  .HeaderTextBreak {
    display: none;
  }

  .HeaderText {
    margin-bottom: 6.6rem;
    max-width: 44.5rem;
  }
}

@media (min-width: 1440px) {
  .HeaderTextGroup {
    max-width: 71.6rem;
  }
}
