.App-Container {
  background-image: url("./assets/images/pattern-circle.svg"),
    url("./assets/images/image-profile-mobile.webp"),
    url("./assets/images/pattern-rings.svg");
  background-size: auto, 17.4rem auto, auto;
  background-position: 31rem 26rem, center top, -35rem 13rem;
  background-repeat: no-repeat, no-repeat, no-repeat;
  padding: 2rem 1.6rem;
}

/* Media Queries */
@media (min-width: 768px) {
  .App-Container {
    padding: 3rem;
  }
}

@media (min-width: 1440px) {
  .App-Container {
    padding: 4rem;
  }
}
